
@font-face {font-family: "iconfont";
  src: url('./g6/ie9.eot'); /* IE9*/
  src: url('./g6/ie6_8.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('./g6/woff') format('woff'),
  url('./g6/webkit.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./g6/ios.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cut:before { content: "\e8a2"; }

.icon-actual-size-o:before { content: "\e8a3"; }

.icon-copy-o:before { content: "\e8a4"; }

.icon-delete-o:before { content: "\e8a5"; }

.icon-fit:before { content: "\e8a6"; }

.icon-select:before { content: "\e8a7"; }

.icon-paster-o:before { content: "\e8a8"; }

.icon-redo:before { content: "\e8a9"; }

.icon-to-front:before { content: "\e8aa"; }

.icon-undo:before { content: "\e8ab"; }

.icon-zoom-in-o:before { content: "\e8ac"; }

.icon-ungroup:before { content: "\e8ad"; }

.icon-zoom-out-o:before { content: "\e8ae"; }

.icon-group:before { content: "\e8af"; }

.icon-to-back:before { content: "\e8b0"; }

/* .icon-grid:before { content: "\e62e"; } */

/* .icon-fullscreen:before { content: "\e66e"; } */

/* .icon-cut:before { content: "\e602"; } */